api_key.py
Access to domain api.py
yearly_data_2019.csv
yearly_data_2020.csv
yearly_data_2021.csv
city_id.csv
quarter_data_2019_1st.csv
quarter_data_2019_2nd.csv
quarter_data_2019_3rd.csv
quarter_data_2019_4th.csv
quarter_data_2020_1st.csv
quarter_data_2020_2nd.csv
quarter_data_2020_3rd.csv
quarter_data_2020_4th.csv
quarter_data_2021_1st.csv
quarter_data_2021_2nd.csv
Bottom 10 Median Sold Price - 2019.png
Bottom 10 Median Sold Price - 2020.png
Bottom 10 Median Sold Price - 2021.png
Bottom 10 Rent Price(per week) - 2019.png
Bottom 10 Rent Price(per week) - 2020.png
Bottom 10 Rent Price(per week) - 2021.png
Top 10 Highest Listing Price - 2019.png
Top 10 Highest Listing Price - 2020.png
Top 10 Highest Listing Price - 2021.png
Top 10 Highest Rent Price(per week) - 2019.png
Top 10 Highest Rent Price(per week) - 2020.png
Top 10 Highest Rent Price(per week) - 2021.png
Top 10 Highest Sold Price - 2019.png
Top 10 Highest Sold Price - 2020.png
Top 10 Highest Sold Price - 2021.png
Top 10 Median Listing Price - 2019.png
Top 10 Median Listing Price - 2020.png
Top 10 Median Listing Price - 2021.png
Top 10 Sold Price Decrease - 2019vs2020.png
Top 10 Sold Price Decrease - 2020vs2021.png
Top 10 Sold Price Increase - 2019vs2020.png
Top 10 Sold Price Increase - 2020vs2021.png
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
